<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.timetable.android"
    android:versionCode="11"
    android:versionName="1.7.3" >
	<supports-screens
	    android:largeScreens="true"
	    android:xlargeScreens="false"/>
	

	
	<uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="19"/>

	<uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
   	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.VIBRATE"/>
   	
    <application
       	android:name="TimetableApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
       	android:theme="@style/Holo.Theme.Light.DarkActionBar">
        <activity
            android:name="com.timetable.android.activities.EventDayViewActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
       	<activity 
       	    android:name="com.timetable.android.activities.SettingsActivity"
       	    android:label="@string/pref_title"
       	    android:theme="@style/Holo.Theme.Light.DarkActionBar">
       		
       	</activity> 
       	
        <activity
            android:name="com.timetable.android.activities.EventAddActivity">
        </activity>
        
        <activity
            android:name="com.timetable.android.activities.EventEditActivity">
        </activity>
        
        <activity 
            android:name="com.timetable.android.alarm.AlarmDialogActivity"
            android:launchMode="singleTask"
    		android:theme="@android:style/Theme.Dialog">          
        </activity>
    	
    	<receiver android:name="com.timetable.android.ServiceStarter" android:enabled="true" android:exported="false">
		    <intent-filter>
		        <action android:name="com.timetable.android.ACTION_APP_STARTED"/>
		        <action android:name="android.intent.action.BOOT_COMPLETED"/>
		    </intent-filter>
		</receiver>
    	
    	<service android:name="com.timetable.android.alarm.AlarmService" android:exported="false" android:enabled="true">
    	</service>
		
		<service android:name="com.timetable.android.EventMuter" android:exported="false" android:enabled="true">
    	</service>
		
		<service android:name="com.timetable.android.EventService" android:exported="false" android:enabled="true">
    	</service>
		
		
		<!--  include tests -->
    	<uses-library android:name="android.test.runner"/>
		
	</application>
	
     
     
    <instrumentation 
        android:label="All Tests"
		android:name="com.timetable.android.tests.MyInstrumentationTestRunner"
        android:targetPackage="com.timetable.android" />
</manifest>
